.login-page
{
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

}
.login-page h1
{
    font-weight: 300;
}
.login-page h1 small
{
    color: grey;
}
.login-page .form-group
{
    padding: 8px 0;
}
.login-page .form-content
{
    padding: 40px 0;
}

h2 { color: #0f0; }
